@charset "utf-8";

#wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

.item p {
	text-align: center;
}
.item {
	margin-top: 10px;
	margin-bottom: 5px;
}
.command {
	margin-top: 20px;
	text-align: center;

}

#flexWrapper {
	display: flex;
	justify-content: space-around;
}

.message {
	margin-bottom: 40px;
	color: white;
	background-color: #333;
	width: 500px;
}
.chara {
	margin-top: 10px;
	text-align: center;
}


input[type=radio] {
	display: none;
}
label {
	display: block;
	padding: 10px;
	border-radius: 30px;
	border: 1px solid black;
	width: 200px;
	background-color: white;
	text-align: center;
	cursor: pointer;
}

input:checked + label{
	background-color: skyblue;
}

label:hover {
	background-color: skyblue;
}