@charset "UTF-8";

#main {
	width: 800px;
	height: 450px;
	margin: 0 auto;
	border: 1px dashed #333;
	border-radius: 20px;

}
h2 {
	text-align: center;
	color: skyblue;
	margin: 20px;
}
#wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 170px;
	padding-bottom: 170px;

}
button {
	padding: 10px;
	border-radius: 30px;
	border: 1px solid black;
	width: 200px;
	background-color: white;
}
input {
	border: 1px solid black;
	}
